<div ng-controller="AddComponentCtrl as addCtrl">
    <div class="ui form addcomponent-header">
        <div class="field">
            <label>Biblioteca</label>
            <select class="ui dropdown" ng-model="addCtrl.selectedLibraryName">
                <option value="{{ library.name }}" ng-init="addCtrl.setDefault(library)" ng-repeat="library in addCtrl.libraries">{{ library.label }}</option>
            </select>
        </div>
    </div>
    <div class="addcomponent-body" ng-if="addCtrl.selectedLibraryName">
        <div ui-accordion="{ exclusive: false }" class="ui vertical following fluid accordion text menu">
            <div class="item" ng-repeat="category in addCtrl.libraries[addCtrl.selectedLibraryName].categories">
                <a class="title active">
                    <i class="dropdown icon"></i>
                    <b>{{ category.label }}</b>
                </a>

                <div class="ui labeled icon menu content active">
                    <a class="item" ng-repeat="component in category.components" fe-draggable>
                        <div dnd-type="component.name" dnd-draggable="component" dnd-effect-allowed="copy" ng-include="component.templatePreviewUrl || component.templateUrl"></div>
                        <span class="label">{{ component.label }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>